<f:layout name="Default" />
{namespace ir=Iresults\Core\ViewHelpers}
{namespace cto=Cundd\TimeOverview\ViewHelpers}

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Record</h1>

<f:flashMessages />

<!--
<f:comment>
<table class="tx_cunddtimeoverview table table-striped table-condensed">
	<tr>
		<th><f:translate>Start</f:translate></th>
		<th><f:translate>End</f:translate></th>
		<th><f:translate>Duration</f:translate></th>
		<th><f:translate>Comment</f:translate></th>
		<th><f:translate>Project title</f:translate></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{records}" as="record">
		<tr>
			<td><f:link.action action="show" arguments="{record : record}"> <f:format.date format="Y-m-d H:i">{record.start}</f:format.date></f:link.action></td>
			<td><f:link.action action="show" arguments="{record : record}"> <f:format.date format="Y-m-d H:i">{record.end}</f:format.date></f:link.action></td>
			<td><f:link.action action="show" arguments="{record : record}"> {record.formattedDuration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{record : record}"> {record.comment}</f:link.action></td>
			<td><f:link.action action="show" controller="project" arguments="{project : record.task.project}"> {record.task.project.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{record : record}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{record : record}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>
</f:comment>
-->

<style type="text/css">
	.label {
		margin-bottom: 4px;
	}
	.warning,
	.warning .warning-inner {
		/*width: 100%;*/
		width: 25px;
		height: 25px;
	}

	.warning {
		background-color: #FF726D;
	}
	.warning {
		background-color: #DE514C;
		/*background: #aa0d00;*/

		background-color: #DE514C;
		background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#C43C35));
		background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
		background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
		background-image: linear-gradient(to bottom, #EE5F5B, #C43C35);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFC43C35', GradientType=0);


	}

	.warning .warning-inner {
		/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);*/
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
	}

	.time-data {
		width: 80%;
		float: left;
	}
	.time-warning {
		width: 20%;
		float:	right;
	}
	.time-percent {
		clear: both;
	}

	.create-new-box {
		float: right;
	}

	.create-new-button {
		cursor: pointer;
	}

	i.icon-white {
		opacity: 0.5;
	}
	i.icon-white:hover {
		opacity: 0.8;
	}
</style>

<table class="tx_cunddtimeoverview table table-striped table-condensed">
	<thead>
		<tr>
			<th><f:translate>Date</f:translate></th>
			<th><f:translate>Records</f:translate></th>
		</tr>
	</thead>

	<tbody>
		<f:for each="{dates}" as="currentDate">
			<tr>
				<td>
					<cto:anchor date="{currentDate}" />
					<div class="time-data">
						<f:link.action action="calendar" arguments="{calendarMode:'CALENDAR_MODE_WEEK', date : currentDate.date.timestamp}"> <f:format.date format="D Y-m-d">{currentDate.date}</f:format.date></f:link.action> <br />


						<!-- Show the diffence between should and is -->
						<f:if condition="{currentDate.differenceInHours} >= 0">
							<f:then>
								<span class="label label-success">
									{currentDate.differenceAsFormattedDateInterval}
								</span>
							</f:then>

							<f:else>
								<f:if condition="{currentDate.differenceInHours} >= -1">
									<span class="label label-warning">
										{currentDate.differenceAsFormattedDateInterval}
									</span>
								</f:if>

								<f:if condition="{currentDate.differenceInHours} < -1">
									<span class="label label-important">
										{currentDate.differenceAsFormattedDateInterval}
									</span>
								</f:if>
							</f:else>
						</f:if>

						<f:format.number>{currentDate.isInHours}</f:format.number> of <f:format.number>{currentDate.shouldInHours}</f:format.number>
					</div>

					<!-- Show a warning if less than 1% are full -->
					<div class="time-warning">
						<f:if condition="{currentDate.differenceInPercent} < 1">
							<f:if condition="{currentDate.shouldInSeconds} != 0">
								<div class="warning img-circle">
									<div class="warning-inner img-circle">!</div>
								</div>
							</f:if>
						</f:if>
					</div>

					<!-- Show the process bar -->
					<div class="time-percent">
						<f:if condition="{currentDate.shouldInSeconds} != 0">
							<f:then>
								<!-- Percent >= 100% -->
								<f:if condition="{currentDate.differenceInPercent} >= 100">
									<f:then>
										<div class="progress progress-success">
											<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
										</div>
									</f:then>
								<!-- 75% < Percent < 100% -->
									<f:else>
										<f:if condition="{currentDate.differenceInPercent} >= 75">
											<div class="progress progress-warning">
												<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
											</div>
										</f:if>
									</f:else>
								</f:if>

								<!-- Percent == 100% -->
								<f:if condition="{currentDate.differenceInPercent} == 100">
									<div class="progress progress-info">
										<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
									</div>
								</f:if>

								<!-- Percent < 75% -->
								<f:if condition="{currentDate.differenceInPercent} < 75">
									<div class="progress progress-danger">
										<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
									</div>
								</f:if>

								<f:comment>
								<!-- <f:if condition="{currentDate.differenceInPercent} >= 100">
									<f:then>
										<div class="progress progress-success">
											<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
										</div>
									</f:then>

									<f:else>
										<div class="progress progress-danger">
											<div class="bar" style="width: {currentDate.differenceInPercent}%"></div>
										</div>
									</f:else>
								</f:if> -->
								</f:comment>
							</f:then>

							<f:else>
								<div class="progress progress-danger">
									<div class="bar" style="width:0%"></div>
								</div>
							</f:else>
						</f:if>
					</div>


				</td>
				<td>
					Number of records: <f:count>{currentDate.allRecords}</f:count>

					<div class="create-new-box">
						<a class="create-new-button"
						data-toggle="popover"
						data-placement="left" data-content="#create-new-popover-content-{currentDate.date}"
						title="" data-original-title=""
						id="create-new-button-{currentDate.date}"><i class="icon-plus icon-white"></i></a>

						<script type="text/javascript">
						$('#create-new-button-{currentDate.date}').popover({
							html: true,
							content: '\
							<div class="create-new-popover-content" id="create-new-popover-content-{currentDate.date}"> \
								<div class="create-new-record"> \
									<f:link.action action="new" arguments="{startDate: currentDate.date.timestamp}">New Time Record</f:link.action> \
								</div> \
								<div class="create-new-special-record"> \
									<f:link.action action="new" arguments="{startDate: currentDate.date.timestamp}" controller="SpecialRecord">New Special Record</f:link.action> \
								</div> \
							</div> \
							'
						});
						</script>
					</div>

					<f:if condition="{currentDate.allRecords}">
						<table class="table table-hover table-condensed">
							<tr>
								<th><f:translate>Title</f:translate></th>
								<th><f:translate>Start</f:translate></th>
								<th><f:translate>End</f:translate></th>
								<th><f:translate>Duration</f:translate></th>
								<th><f:translate>Comment</f:translate></th>
								<th><f:translate>Project title</f:translate></th>
								<th></th>
								<th></th>
							</tr>

							<f:for each="{currentDate.allRecords}" as="record">
								<tr>
									<td>
										<f:if condition="{0: record.recordType} == {0: 'RECORD_TYPE_SPECIAL'}">
											<i class="icon-star icon-white"></i>
										</f:if>
										<!-- <f:if condition="{0: record.recordType} == {0: 'RECORD_TYPE_STANDARD'}">
											Standard
										</f:if> -->
										{record.title}
									</td>
									<td><f:link.action action="show" arguments="{record : record}"> <f:format.date format="Y-m-d H:i">{record.start}</f:format.date></f:link.action></td>
									<td><f:link.action action="show" arguments="{record : record}"> <f:format.date format="Y-m-d H:i">{record.end}</f:format.date></f:link.action></td>
									<td><f:link.action action="show" arguments="{record : record}"> {record.formattedDuration}</f:link.action></td>
									<td><f:link.action action="show" arguments="{record : record}"> {record.comment}</f:link.action></td>
									<td><f:link.action action="show" controller="project" arguments="{project : record.task.project}"> {record.task.project.title}</f:link.action></td>
									<td><f:link.action action="edit" arguments="{record : record}"> <i class="icon-edit icon-white"></i></f:link.action></td>
									<td><f:link.action action="delete" arguments="{record : record}"> <i class="icon-trash icon-white"></i></f:link.action></td>
								</tr>
							</f:for>
						</table>
					</f:if>
				</td>
			</tr>
		</f:for>
	</tbody>

	<tfoot>
		<tr>
			<td>
				<f:if condition="{totalDifferenceHours} >= 0">
					<f:then>
						<span class="label label-success">
							{totalDifferenceFormatted}
						</span>
					</f:then>

					<f:else>
						<span class="label label-important">
							{totalDifferenceFormatted}
						</span>
					</f:else>
				</f:if>
				<br />
				Days: <f:format.number>{totalActualDays}</f:format.number> of <f:format.number>{totalTargetDays}</f:format.number> <br />
				Hours: <f:format.number>{totalActualHours}</f:format.number> of <f:format.number>{totalTargetHours}</f:format.number> <br />


				<f:if condition="{totalDifferenceInPercent} > 100">
					<f:then>
						<div class="progress progress-success">
							<div class="bar" style="width: {totalDifferenceInPercent}%"></div>
						</div>
					</f:then>

					<f:else>
						<div class="progress progress-danger">
							<div class="bar" style="width: {totalDifferenceInPercent}%"></div>
						</div>
					</f:else>
				</f:if>
			</td>
			<td>
				Total number of records: <f:count>{records}</f:count>
			</td>
		</tr>
	</tfoot>
</table>



<f:form action="calendar" method="get">
	<f:form.select name="calendarMode" value="{calendarMode}" options="{calendarModes}" />
	<f:form.textfield name="date" value="{date}" placeholder="Enter date" />
	<f:form.submit value="Change view" class="btn" />
</f:form>

<f:link.action class="btn" action="new">New Time Record</f:link.action>
<f:link.action class="btn" action="new" controller="SpecialRecord">New Special Record</f:link.action>
</f:section>