<label for="title">
	<f:translate>Title</f:translate> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="recurring">
	<f:translate>Recurring</f:translate>
</label><br />
	<f:form.textfield property="recurring" /><br />
<label for="comment">
	<f:translate>Comment</f:translate>
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="start">
	<f:translate>Start</f:translate> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="start"  value="{specialRecord.start->f:format.date()}" /><br />
<label for="end">
	<f:translate>End</f:translate>
</label><br />
	<f:form.textfield property="end"  value="{specialRecord.end->f:format.date()}" /><br />