{namespace ir=Iresults\Core\ViewHelpers}

<f:comment>
<ir:javascript.include>Iresults.Core.Forms.HTML5</ir:javascript.include>
</f:comment>


<label for="title">
	<f:translate>Title</f:translate> <span class="required">(required)</span>
	<f:form.textfield property="title" />
</label><br />

<label for="recurring">
	<f:translate>Recurring</f:translate>
	<f:form.checkbox property="recurring" value="1" />
</label><br />

<label for="comment">
	<f:translate>Comment</f:translate>
	<f:form.textarea property="comment" cols="40" rows="15" />
</label><br />

<label for="start">
	<f:translate>Start</f:translate> <span class="required">(required)</span>
	<f:form.textfield property="start" type="datetime" value="{specialRecord.start->f:format.date()}" />
</label><br />

<label for="end">
	<f:translate>End</f:translate>
	<f:form.textfield property="end" type="datetime" value="{specialRecord.end->f:format.date()}" />
</label><br />