<table class="tx-cundd-time-overview" >
	<tr>
		<td>
			<f:translate key="tx_cunddtimeoverview_domain_model_specialrecord.title" />
		</td>
		<td>
			{specialRecord.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddtimeoverview_domain_model_specialrecord.recurring" />
		</td>
		<td>
			{specialRecord.recurring}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddtimeoverview_domain_model_specialrecord.comment" />
		</td>
		<td>
			{specialRecord.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddtimeoverview_domain_model_specialrecord.start" />
		</td>
		<td>
			{specialRecord.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cunddtimeoverview_domain_model_specialrecord.end" />
		</td>
		<td>
			{specialRecord.end -> f:format.date()}
		</td>
	</tr>
</table>