<label for="username">
	<f:translate id="tx_cunddtimeoverview_domain_model_person.username" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="username" /><br />
<label for="password">
	<f:translate id="tx_cunddtimeoverview_domain_model_person.password" />
</label><br />
	<f:form.textfield property="password" /><br />
<label for="firstName">
	<f:translate id="tx_cunddtimeoverview_domain_model_person.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate id="tx_cunddtimeoverview_domain_model_person.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />