<table class="tx-cundd-time-overview" >
	<tr>
		<td>
			<f:translate id="tx_cunddtimeoverview_domain_model_person.username" />
		</td>
		<td>
			{person.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_cunddtimeoverview_domain_model_person.password" />
		</td>
		<td>
			{person.password}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_cunddtimeoverview_domain_model_person.first_name" />
		</td>
		<td>
			{person.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_cunddtimeoverview_domain_model_person.last_name" />
		</td>
		<td>
			{person.lastName}
		</td>
	</tr>
</table>