<f:layout name="Default" />

<f:section name="Title">A list of dates</f:section>

<f:section name="Content">
	<f:if condition="{dates}">
		<f:then>
			<ul>
				<f:for each="{dates}" as="date">
					<li>
						<f:link.action action="show" arguments="{date: date}">{date.name}</f:link.action>
						<f:link.action action="edit" arguments="{date: date}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{date: date}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No dates created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new date</f:link.action></p>
</f:section>